$color-text-primary: #ffffff;
$color-text-secondary: #dcdcdc;
$color-border: #808080;
$color-background: #2e2e2e;
$color-background-highlight: #404040;
$color-accent: #ffff00;
$color-button-border: #000000;
$color-button-background: #808080;
$color-button-text: #ffffff;
$color-button-hover-background: #ffffff;
$color-button-hover-text: #000000;
$color-button-active-background: #ffff00;
$color-button-disabled-background: #2d2d2d;
$color-button-text-disabled: #514f4f
